<div class="aboutMe container d-flex">
  <div class="row">
    <div class="col-4">
      <h3>About Me</h3>
    </div>
    <div class="aboutContent col-8">
      <p>
        “Innovative Front End Developer ,building and
        maintaining responsive websites in the recruiting industry. Proficient
        in HTML, CSS, jQuery, JavaScript and Angualr ; plus modern libraries and
        frameworks. Passionate about usability and possess working knowledge of
        Adobe Photoshop & Sketch.“
      </p>
      <button class="custum-btn">
        <a href="../../assets/Cv/KareemElebasyCv.pdf" download="My-cv"
          >Download Resume</a
        >
      </button>
    </div>
  </div>
</div>
