<div class="skills container-fluid pb-5">
  <div class="container">
    <div class=" skillsHeading text-center w-75">
      <h2 class="fs-1 pb-3">Skills</h2>
      <p class="pb-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quaerat
        qui rem quia eos nostrum recusandae similique illo earum impedit
        corporis dolore voluptatibus, laborum architecto accusantium facere
        sequi ab a!
      </p>
    </div>
    <div class="progressContent container">
      <div class="row">
        <div class="text-center col-4">
          <h3>MY FOCUS</h3>
          <h4>Angular</h4>
          <h4>TypeScript</h4>
          <h4>Web Design</h4>
          <h4>UI&UX</h4>
        </div>
        <div class="progressbars col-8">
            <app-skillprogress></app-skillprogress>
            <app-skillprogress></app-skillprogress>
            <app-skillprogress></app-skillprogress>
            <app-skillprogress></app-skillprogress>
            <app-skillprogress></app-skillprogress>
            <app-skillprogress></app-skillprogress>
        </div>
      </div>
    </div>
  </div>
</div>
