<div class="container mt-4 pb-5">
  <div>
    <h2 class="text-center pt-3 pb-3">Portfolio</h2>
  </div>
  <div class="container">
    <div class="row">
      <app-project-card class="col-4"></app-project-card>
      <app-project-card class="col-4"></app-project-card>
      <app-project-card class="col-4"></app-project-card>
    </div>
    <div class="row">
      <app-project-card class="col-4"></app-project-card>
      <app-project-card class="col-4"></app-project-card>
      <app-project-card class="col-4"></app-project-card>
    </div>
  </div>
</div>
